@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.qr-scanner-container {
    max-width: 600px;
    font-family:'Noto Sans', sans-serif;
    margin: auto;
    padding: 20px;
    background-color: #1F2937;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.qr-scanner-container h2 {
    font-family: 'Tilt Neon', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.qr-scanner-cs{
    margin-left: 3.5rem;
}
