@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.register-user-form {
    font-family: 'Noto Sans', sans-serif;
}

.register-user-form h2 {
    font-family: 'Tilt Neon', sans-serif;
    font-size: 2rem;
    margin-bottom: 0;
}

.sumbit-custom{
    font-weight: 500;
}

.edit-div-cs{
    margin-bottom: 1rem;
    align-items: center;
}