@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegúrate de que esté en la parte superior */
}

.modal-content-qr {
    background: #1F2937;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 30%; /* Ajusta el ancho según tus necesidades */
    color : #ffffff;
    max-width: 500px; /* Establece un ancho máximo */
}

.close-button-qr {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #DD8329; /* Color de fondo del botón */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-button-qr:hover {
    background-color: #bf7021; /* Color de fondo al pasar el ratón */
}
