@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-cs-utaa{
    font-family: 'Noto Sans', sans-serif;
    color: #121212;
}

.tablas-utaa{
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.8rem;
    color: #ffffff;
}

.title-uts-utaa{
    font-family: 'Tilt Neon', sans-serif;
    font-size: 2rem;
    color: #ffffff;
}